################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CV.Lottery/bin/Debug/net9.0
/CV.Lottery/obj
/CV.Lottery/bin/Release/net9.0
/.vs/ProjectEvaluation
/.vs/CV.Lottery/v17
/.vs/CV.Lottery/FileContentIndex
/.vs/CV.Lottery/DesignTimeBuild
/.vs/CV.Lottery/config
