################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CV.Lottery/bin/Debug/net9.0
/CV.Lottery/obj
